.paginate-btn{
  display: flex;
  flex-direction: row;
  margin: 0.5%;
  padding: 0.5%;
  font-size: medium;
}

.container{
  margin: 1%;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
