<div class="container">
  <form [formGroup]="form">
    <select
      formControlName="sortOrder"
      id="sortOrder"
      class="input-sortOrder"
    >
      <option [ngValue]="null" [disabled]="true" i18n>Sort By</option>
      <option *ngFor="let category of SortCategory" [ngValue]="category.value">{{category.label}}</option>
    </select>
  </form>
</div>
<div class="container">
  <div *ngFor="let reservation of reservationsToPage">
    <app-reservation-item
      [reservation]="reservation"
      (deleteReservation)="onDeleteReservation($event)"
      (favoriteReservation)="onFavoriteReservation($event)"
      (rateReservation)="onRateReservation($event)"
    ></app-reservation-item>
  </div>
  <div class="pagination-item">
    <app-paginator
      [numberOfItems]="reservations.length"
      [numberOfItemsPerPage]="numberOfItemsInAPage"
      [activePage]="currentPage"
      (paginateTo)="onPaginateTo($event)"
    ></app-paginator>
  </div>
</div>
