<nav class="company-banner">
  <h1 class="companyName" href="#"><strong>ISU</strong>Corp</h1>
  <p class="nameDescription">World Class<br>Software Development</p>
  <h3 class="menuName-banner">Reservation Systema</h3>
  </nav>
<nav class="application-nav">
  <h3 i18n="Application Name|Title for banner application@@constructionName" class="menuName"><strong>Reservation System</strong></h3>
  <p class="menuDescription">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae consequuntur debitis et facilis,
    fuga harum impedit ipsum molestiae nulla.
  </p>
</nav>
<nav class="button-menu-nav" >
  <button i18n="Create Reservation Button|Button for accessing to Create Reservation form@@reservationFormButton" class="menuBtn" routerLink="/reservation-form/new">Create a Reservation</button>
  <button i18n="Create Contact Button|Button for accessing to Create Contact form@@contactFormButton" class="menuBtn" routerLink="/contact-form/new">Create a Contact</button>
  <button i18n="Show Reservations Button||Button for accessing to Reservation List@@reservationListButton" class="menuBtn" routerLink="/">Reservations List</button>
  <button i18n="Show Contacts Button|Button for accessing to Contact List@@contactListButton" class="menuBtn" routerLink="/contacts-list">Contacts List </button>
</nav>

