<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="inputForm">
      <img src="../../assets/img/contact.png" alt="">
      <input
        type="text"
        formControlName="name"
        id="name"
        class="input Name"
        placeholder="Contact Name ..."
      i18n-placeholder="Contact Name placeholder">
    </div>
    <div class="inputForm">
      <img src="../../assets/img/phone.png" alt="">
      <input
        type="text"
        formControlName="phoneNumber"
        id="phoneNumber"
        class="input Phone"
        placeholder="Phone Number:"
        i18n-placeholder="Phone Number Placeholder"
      >
    </div>
    <div class="inputForm">
      <img src="../../assets/img/calendar.png" alt="">
      <input
        onfocus="(this.type='datetime-local')"
        onblur="(this.type='text')"
        placeholder="Reservation Date"
        type="text"
        formControlName="reservationDate"
        id="reservationDate"
        class="input Date"
      i18n-placeholder="Reservation Date placeholder">
    </div>
  </div>
  <div class="alert-danger" *ngIf="!form.valid && !form.untouched">
    <h4 i18n *ngIf="form.get('name').errors?.required && form.get('name').touched">Name is Required</h4>
    <h4 i18n *ngIf="form.get('phoneNumber').errors?.required && form.get('phoneNumber').touched">Phone Number is Required</h4>
    <h4 i18n *ngIf="form.get('phoneNumber').errors?.isNotAPhone && form.get('phoneNumber').touched ">This number is not valid. Please fill the form again</h4>
    <h4 i18n *ngIf="form.get('phoneNumber').errors?.minlength">Number Phone requires at least {{form.get('phoneNumber').errors.minlength.requiredLength}} numbers</h4>
    <h4 i18n *ngIf="form.get('phoneNumber').errors?.maxlength">Number Phone requires no more than {{form.get('phoneNumber').errors.maxlength.requiredLength}} numbers</h4>
    <h4 i18n *ngIf="form.get('reservationDate').errors?.required && form.get('reservationDate').touched"> Reservation Date is required</h4>
    <h4 i18n *ngIf="form.get('reservationDate').errors?.isDateAfterToday && form.get('reservationDate').touched">
      Reservation Date invalid. The reservation date cannot be earlier than actual time
    </h4>
 </div>
  <div class="container button">
    <button i18n class="btn" type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</form>
<ckeditor class="textEditor" [(ngModel)]="model.editorData" [editor]="Editor" [config]="model.config" data="<p>Hello, world!</p>"></ckeditor>



